<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout-admin :: head"></head>


<body>

	<nav th:replace="layout/layout-admin :: navbar"></nav>



	<div class="container" style="text-align: center;">
		<h1 style="color: rgb(17, 18, 19); font-weight: 700;">Registrar Avio</h1>
	</div>
	<nav th:replace="layout/layout-admin :: mensajes"></nav>
	<hr></hr>

	<div class="container">

		<!-- FORM -->

		<div th:object="${avio}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>

		<form th:action="@{/avio/form}" th:object="${avio}" method="post" 
		enctype="multipart/form-data">
			<!-- PASO DE DATOS -->
			<div class="input-group mb-3 row g-3 align-items-center">
				<div class="col-auto">
					<input type="text" class="form-control" placeholder="Nombre" th:field="*{nombre}"
						th:errorclass="'form-control alert-danger'" />
					<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
						th:errors="*{nombre}"></small>
				</div>
				<!-- PASO DE DATOS -->

				<div class="col-auto">
					<input type="text" class="form-control" placeholder="Color" th:field="*{color}"
						th:errorclass="'form-control alert-danger'" />
					<small class="form-text text-danger" th:if="${#fields.hasErrors('color')}"
						th:errors="*{color}"></small>
				</div>
				<!-- PASO DE DATOS -->
				<div class="col-auto">
					<input type="number" step="any" maxlength="10" class="form-control" placeholder="Costo por pieza"
						th:field="*{costo}" th:errorclass="'form-control alert-danger'" />
					<small class="form-text text-danger" th:if="${#fields.hasErrors('costo')}"
						th:errors="*{costo}"></small>
				</div>

			</div>

			<div class="input-group mb-3 row g-3 align-items-center">
				<div class="col-auto">
					<input type="number" maxlength="10" step="any" class="form-control" placeholder="Cantidad"
						th:field="*{cantidad}" th:errorclass="'form-control alert-danger'" />
					<small class="form-text text-danger" th:if="${#fields.hasErrors('cantidad')}"
						th:errors="*{cantidad}"></small>
				</div>

				<div class="col-auto">
					<select id="disabledSelect" class="form-select form-control" th:field="*{tipo}">
						<option th:value="'Cierre'">Cierre</option>
						<option th:value="'Boton'">Boton</option>
						<option th:value="'Remache'">Remache</option>
						<option th:value="'Adorno'">Adorno</option>
					</select> <small class="form-text text-danger" th:if="${#fields.hasErrors('tipo')}"
						th:errors="*{tipo}"></small>
				</div>
			</div>

			<input type="hidden" th:value="0" th:field="*{enable}">

			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" class="btn btn-secondary" />
				</div>
			</div>
		</form>
	</div>

	<!--===== MAIN JS =====-->

	<footer th:replace="layout/layout-admin :: footer"></footer>

</body>

</html>