<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

    <script type="text/javascript" th:fragment="buscar-pantalon">
    var cont3 = 0;

        $(document).ready(function () {
            

            $("#buscar_pantalon").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/inventario/cargar-pantalon/" + request.term,
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    value: item.id,
                                    label: item.nombre,
                                };
                            }));
                        },
                    });
                },
                select: function (event, ui) {
                    //$("buscar_tela").val(ui.item.label);
                    cont3++;
                    console.log(cont3)

                    if (cont3 <= 1) {
                        var linea = $("#plantillaItemPantalon").html();
                        linea = linea.replace(/{ID}/g, ui.item.value);
                        linea = linea.replace(/{NOMBRE}/g, ui.item.label);
                        $("#cargarPantalon tbody").append(linea);
                    }


                    return false;
                }
            });

            $("form").submit(function () {
                $("#plantillaItemPantalon").remove();
                return;
            });

        });

        var itemsHelperPantalon = {
            hasProducto: function (id) {

                var resultado = false;

                $('input[name="pantalon_id[]"]').each(function () {

                    if (parseInt(id) == parseInt($(this).val())) {
                        resultado = true;
                    }
                });

                return resultado;
            },
            eliminarPantalon: function (id) {
                cont3 = 0;
                $("#row_" + id).remove();
            }
        }

    </script>

</body>

</html>